
  
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.firstp{
    background-image:url(Hero-bg.png) ;
    width: 1440px;
    height: 698;

}


.ll{
    font-size: 40px;
    color: blue;
}
.btn-primary{
    background-color: blue;
    border: none;
    border-radius: 3px;
    font-size: normal;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 5px;
    
}

nav{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.main{
    text-align: center;
    font-size: 50px;
}
.head{
background-image: url('/immages/Hero-bg.png');
}

.content{
    padding: 50px;
}

.banner{
    display:flex;
    gap: 800px;
}

.bannar-pictur{
    width: 403px;
    border-radius: 20px;

}
.users{
    text-align: center;
    background-color: lightskyblue;
    border-radius: 10px;
    margin: 141px 130px;
    padding: 30px 50px;
border-radius: 10px;

}
.user-items{
    display: flex;
    justify-content: space-around;
}
.user-item{
font-size: 30px;
font: bolder;
}

.item-titel{
    font-size: 55px ;color: blue;   
}
.usr{
    text-align: center;
    font-size: 30px;
}
.edit-img{
    width: 40px;
    height: 40px;
}
.users-box{
    display: flex;
    gap: 30px;
    padding:50px;
    background-color:F2EDED;
    width: 1140px;
    height: 300px;
    
}
.-comit{
    margin: 1px;
    background-color: antiquewhite;
    padding:20px;
    border-radius:10px ;
    
}
.new-img{
    width: 35px;
    height: 35px;
    display: flex;

}
.details{
    background-color: lch(98.99% 1.06 90.71);
    
}
.fc-main{
    display: flex;
    justify-content: center;
}
.focus{
    background-color: white;
    text-align: center;
    padding: 30px 50px;
    width: 600px;
    margin: 20px 50px; 
    border-radius: 20px;

}
.focus h1{
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 0px;
}
.focus p{
    font-size: 12px;
    margin: 10px;
    color: gray;
}
.focus-btn{
    
    text-align: center;
    padding: 10px 24px;
    margin-bottom: 20px;
}
.focus-img{
    height: 220px;
    width: 500px;
    border-radius: 20px;
}
/*----form section---*/
.frm-main{
    display: flex;
    justify-content: center; 
    background-color: lightblue;
}
.form-sec{
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding: 50px 20px;
}
.form input{
    margin: 5px;
}
.form-head h1{
    font-size: 50px;
    
}
.in-item{
    height: 35px;
    border: none;
    width: 250px;
    margin: 0px;
    border-radius: 5px;
}
.in-item2{
    height: 80px;
    border: none;
    width: 255px;
    border-radius: 5px;
}
.form{
    border-radius: 10px;
    padding: 30px;
}
.form-btn{
    height: 35px;
    width: 255px;
    margin-top: 10px;
    background-color: blue;
    color: aliceblue;
     border-radius: 5px;
}
a{
    text-decoration: none;
}
textarea{
    resize: none;
}
/*-------foooter section*/

.foot-main{
    display: flex;
    justify-content: center;
}
.logo{
    font-size: 70px;
    color: blue;
}

.footer{
    text-align: center;
    background-color: white;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 15px;
}
.ft-main h1{
    margin: 0px;
    padding: 20px;
}
.ft-main p{
    margin: 10px auto;
    font-size: 10px;
    color: gray;
    width: 300px;
}
.link a{
    color: rgb(151, 146, 146);
    font-size: 12px;
    margin-left: 20px;
}
.link a:hover{
    color: rgb(67, 75, 187);
    transition: 0.5}

