.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.firstp{
    background-image:url(Hero-bg.png) ;
    width: 1440px;
    height: 698;
}


.ll{
    font-size: 40px;
    color: blue;
}
.btn-primary{
    background-color: blue;
    border: none;
    border-radius: 3px;
    font-size: normal;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 5px;
    
}

nav{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.main{
    text-align: center;
    font-size: 50px;
}
.head{
background-image: url('/immages/Hero-bg.png');
}

.content{
    padding: 50px;
}

.banner{
    display:flex;
    gap: 800px;
}

.bannar-pictur{
    width: 403px;
    border-radius: 20px;
    borde: ;

}
